{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Contact{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="card">
    <div class="card-header">
        Address
    </div>
    <div class="card-body">
            <pre class="bg-light">
Institute for Theoretical Physics
Philosophenweg 19
69120 Heidelberg
Germany
            </pre>
    </div>


    <div id="chart" class="chart"></div>

    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script type='text/javascript'>
        var graphs = {{graphJSON | safe}};
        Plotly.plot('chart', graphs, {});
    </script>
{% endblock %}
