{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Welcome{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <h4>
            Search through publications
        </h4>

        <div class="mb-3">
            <input type="text" placeholder="search here..." id="search-text-field" class="form-control">
        </div>

    </div>

    <br>
    {% for topic_number, topic_name in topics.items() %}
        <a href="{{ url_for('filter_topic', topic_number=topic_number) }}" class="link-primary">
            <button type="button" class="btn btn-secondary btn-sm">{{ topic_name }}</button></a>
        &nbsp;
    {% endfor %}
    <p></p>

    <div id="papers">
    </div>
    <script>
        function getPapers(dois) {
            if (dois == "") {
                document.getElementById("papers").innerHTML = "No result";
            } else {
                fetch(new Request("/papers/" + dois))
                    .then(response => response.text())
                    .then(text => {
                        document.getElementById("papers").innerHTML = text;
                    })
            }
        }

        getPapers({{ dois | tojson }});
    </script>

    <script>
        const input = document.querySelector("#search-text-field");
        input.addEventListener('input', searchPapers);

        function searchPapers() {
            const search = document.getElementById("search-text-field");
            let data = new FormData();
            data.append("search", search.value);
            const request1 = new Request(
                "{{ url_for('search') }}", {
                    method: "POST",
                    body: data,
                }
            )
            fetch(request1)
                .then(response => response.text())
                .then(newDOIs => {
                    getPapers(newDOIs);
                })
        }

    </script>

{% endblock %}
