<div class="card">
    {% for paper in papers %}
        <div class="card-header text-truncate">
            <a href="{{ url_for('individual_paper', doi=paper.doi | replace('/', '_') ) }}" class="link-primary">
                {{ paper.title }}
            </a>
            <p></p>
            <span class="card-subtitle mb-2 text-muted">
                {{ paper.authors[0].family }}{% if paper.authors | length > 1 %}<em> et al.</em>{% endif %},
            </span>
            <em>{{ paper.journal.abbreviation }}</em>
            ({{ paper.year }})
            <a href="{{ url_for('filter_topic', topic_number=paper.embedding.topic_number) }}" class="link-primary">
                <span class="badge bg-secondary">{{ paper.embedding.topic_name }}</span>
            </a>
        </div>
    {% endfor %}

</div>
